# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/isaac-frontend/node_modules
/isaac-frontend/.next

# testing
/isaac-frontend/coverage

# production
/isaac-frontend/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*



